<nav>
    <ul id="nav-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Администрирование</a>
            <ul>
                <li><a href="/">Атрибуты</a></li>
                <li><a href="/categories">Категории</a></li>
            </ul>
        </li>
        <li><a href="">Регистрация</a></li>
        <li><a href=""> Статистика продаж</a></li>
        <li><a href="">О Сайте</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</nav>