<!DOCTYPE html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <% include ../partials/main/categoryDetails %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="scripts/script.js"></script>
</body>
</html>